footer{
    background-color: $colorBlanco;
    display: flex;
    flex-direction: column;
    padding: 20px;
    .section_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .nav_footer{
            display: flex;
            flex-direction: row;
            margin: 10px;
            padding: 0;
            li{
                padding: 10px;
                margin-left: 10px;
                background-color: $colorsecundario;
                font-family: $fuentePrincipal;
                font-size: 15pt;
                list-style-type: none;
                border-radius: 10px;
            }
            a{
                text-decoration: none;
                color: $colorBlanco;
                &:hover{
                    text-decoration: none;
                    color: $colorterciario;
                }
            }
        }
       
    }
    .redes_footer{
        display: flex;
        flex-direction: row;
        margin: 10px;
        padding: 0;
        a{
            padding: 10px;
        }
        .img_youtube{
            &:hover{
                zoom: 1.5;
            }
        }
        .img_instagram{
            &:hover{
                zoom: 1.5;
            }
        } 
    }
    @media (max-width: 430px){
        .section_footer{
            flex-direction: column;
            align-items: center;
            .nav_footer{
                flex-direction: column;
                align-items: center;
                margin: 10px 0;
                li{
                    margin: 10px;
                }
            }
            .redes_footer{
                margin: 10px 0;
            }
        }
        .copyright_footer{
            text-align: center;
        }
    }
}