$colorPrimario:#EB0000;
$colorsecundario:#8f0000;
$colorterciario: #ff5c5c;
$colorNegro: black;
$colorBlanco:white;
$fuentePrincipal: "Arial";
$fuenteSecundaria:"Segoe UI";
%posicionCentral{
    display: flex;
    flex-direction: column;
    align-items: center;
}
%posiciongaleria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
%estiloEquipo{
    display: flex;
    flex-direction: column;
    background-color: $colorPrimario;
    h2{
        text-align: center;
        margin: 20px;
        padding: 10px;            
        color: $colorBlanco;
        font-family:$fuenteSecundaria;
        font-weight: bold;
    }
    div{
        @extend %posiciongaleria;
        img{
                width: 400px;
                height: auto;
                padding: 20px;
        }
    }
}
%estiloPiloto{
    display: flex;
    flex-direction: column;
    background-color: black;
    h2{
        text-align: center;
        margin: 20px;
        padding: 10px;
        color: $colorBlanco;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    div{
        @extend %posiciongaleria;
        margin:10px;
        img{
            width: 600px;
        }
    }
}